{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <h3 class="hottie">{{hotlist}}</h3>
        <form method="post">
            <p>       
                <input type="text" name="search_text">
                <button type="submit" name="button" class="btn btn-warning" value="search_song">search song</button>
            </p>
            <div class="container">
                <div class="row">
                {% for song in songs%}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                        <iframe src= {{song[0]}} width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture">
                        </iframe>
                        </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <div class="btn-group-vertical">
                                            <form method="post">
                                            <button type="submit" name="button" value={{song[1]}} class="btn btn-success">recommend</button>
                                            </form>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col">
                        <p>Recommendation</p>
                    </div>
                </div>
                
            </div>
            <iframe src={{recommend}} width="250" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
        </div>
        </form>
        
    </div>
{% endblock %}